<div class="flex justify-center items-start px-6 py-20">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 max-w-6xl">
    <!-- Left column: Marketing text -->
    <%= render partial: 'shared/about_billsplit' %>

    <!-- Right column: Login form card -->
    <div class="flex flex-col bg-white shadow rounded-lg p-8">
      <h2 class="text-4xl mb-6">Login to your account</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-6">
          <%= f.email_field :email,
            autofocus: true,
            autocomplete: "email",
            class: "border border-indigo-50 rounded-md bg-indigo-50 focus:outline-indigo-400 px-3 py-2 w-full"
          %>
          <%= f.label :email, class:"text-gray-500" %>
        </div>

        <div class="field mb-6">
          <%= f.password_field :password,
            autocomplete: "current-password",
            class: "border border-indigo-50 rounded-md bg-indigo-50 focus:outline-indigo-400 px-3 py-2 w-full"
          %>
          <%= f.label :password, class:"text-gray-500" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-6">
            <%= f.check_box :remember_me, class:"focus:outline-indigo-400" %>
            <%= f.label :remember_me, class:"text-gray-500" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in",
            class: "w-full bg-indigo-500 hover:bg-indigo-600 focus:outline-indigo-900 rounded-md text-white py-2 mb-6 cursor:pointer"
          %>
        </div>
      <% end %>

      <div class="mb-6 text-gray-500">
        Don't have an account?
        <%= link_to "Sign up",
          new_registration_path(resource_name),
          class: "text-indigo-400"
        %> now
      </div>

      <div>
        <%= link_to "Forgot your password?",
          new_password_path(resource_name),
          class: "text-indigo-400"
        %>
      </div>
    </div>
  </div>
</div>
